# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependency files
*.log
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Results and outputs
results/

# Video and document files to ignore
*.mkv
*.odt

